<h1>Perfil do <%= @user.email %></h1>

<h2>Tweets (<%= @user.tweets.count %>)</h2>

<% if current_user.id != @user.id %>
    <%= form_for @relationship do |r| %>
        <% if current_user.following? @user.id %>
                <%= link_to 'Unfollow', current_user.unfollow! @user %>
        <% else %>
                <%= link_to 'Follow', current_user.follow! @user %>
        <% end %>
    <% end %>
<% end %>

<% if @user.tweets.empty? %>
    <p>Usuário ainda não tem tweets</p>
<% else %>
    <ul>
        <% @user.tweets.each do |tweet| %>
            <li><%= tweet.content %></li>
        <% end %>
    </ul>
<% end %>

<h2>Seguidores (<%= @user.followers.count %>)</h2>

<% if @user.followers.empty? %>
    <p>Usuário ainda não tem seguidores</p>
<% else %>
    <ul>
        <% @user.followers.each do |follow| %>
            <li><%= follow.email %></li>
        <% end %>
    </ul>
<% end %>